
<!DOCTYPE html>
<html>
  <head>
      <title>Home</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!--  <link rel="stylesheet" href="../public/css/main.css"> -->
      <% include partials/head %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
  <body>
    <header class="header content">
      <div class="header-video">
        <video src="fondo.mp4" autoplay loop></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
        <h1>Logueate</h1>
        <p>Página principal codigo front sin permiso</p>
        <a href="/index" class="btn">Entrar</a>
      </div>
    </header>
  </body>
</html>
