<!DOCTYPE html>
<html lang="es_MX">
<head>
	<title>Control de usuarios</title>
	<% include partials/head %>
</head>
<body class="index">

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Control de usuarios</h1>
				<p>Acceda o Registrese</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Acceda
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registro
				</a>
			</div>
		</div>
	</div>

</body>
</html>
