<!DOCTYPE html>
<html lang="es_MX" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pdfLector</title>
    <% include partials/head %>
  </head>
<body style="height: 150%;
    width: 100%;
     overflow: hidden;
     margin: 0px;
     padding: inherit;
     background-color: rgb(82, 86, 89);">
   <!--
  <iframe src="https://vectorialfesc.files.wordpress.com/2018/12/ejemplo.pdf#zoom=100&view=fitH"
  frameborder="0" width="655" height="550" marginheight="0" marginwidth="0" id="pdf">
  </iframe>
-->

   <iframe frameborder="0" width="400" height="300"
   src="https://online.flowpaper.com/77d30760-trial/prueba23htV/#PreviewMode=Miniature"
    scrolling="no" marginwidth="0" marginheight="0" allowFullScreen="0">
  </iframe>
  </html>
